#grid-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}
.square {
  width: 100%;
  height: 100%;
  background-color: rgb(85, 88, 90);
}
.square-container {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: inherit;
}
.black-background {
  background-color: black;
}
